footer {
    background-color: #ff0808; /* Gray background */
    color: white;
    font-size: 14px;
    width: 100vw;
    margin-top: 100px;
  }
  
  .footer-container {
    background-color: #a51c30; /* Red section */
 height: 60px;padding:  0 40px;
    display: flex;
    position: fixed;z-index: 1000;bottom: 0;
    justify-content: space-between;width: 100%;
    align-items: center;
  }
  
  .footer-container span {
    font-weight: bold;
  }
  
  .footer-container a {
    color: white;
    margin-left: 10px;
    transition: color 0.3s;
  }
  
  .footer-container a:hover {
    color: #d3d3d3;
  }
  .footer-social {
   position:relative;
   right:80px
  }

  @media screen and (max-width: 768px) {
    .footer-container {
      padding: 0 10px;
    }
    .footer-social {
      position:relative;
      right:20px
     }
     .copy-right{
      font-size: 12px;
     }
  }